.App {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.notesContainer{
  display: flex;
}

.basic-multi-select{
  /* border: 2px solid #a7a5a5;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box; */
}