 @import './constants.scss';

// .list__container{
//     width: 300px;
//     height: 100%;
//     padding: 10px;
//     border: 2px solid rgb(166, 165, 165);
//     border-radius: 8px;
//     margin: 10px 10px 10px 0px;
// }

// .note__icon {
//     width: 15px;
//     height: 15px;
// }

// .note__button{
//     border: none;
//     background-color: transparent; 
//     cursor: pointer;
// }

// .list{
//     padding: 5px;
// }

// .list__item{
//     display: flex;
//     justify-content: space-between;
// }

// .list__addButton {
//     width: 50px;
//     height: 30px;
//     border: none;
//     border-radius: 8px;
//     background-color: #14518e;
//     color: white
//   } 

 .list__container{
    width: 300px;
    height: 100%;
    padding: 10px;
    border: $border;
    border-radius: $borderRadius;
    margin: 10px 10px 10px 0px;
    .list__addButton{
        width: 50px;
        height: 30px;
        border: none;
        border-radius: $borderRadius;
        background-color: $bgButtton;
        color: white
    }
 }



.list{
    padding: 5px;
    .list__item{
        display: flex;
        justify-content: space-between;
        .note__button{
            border: none;
            background-color: transparent; 
            cursor: pointer;
            .note__icon{
                width: 15px;
                height: 15px;
            }
        }
    }}




